---
import Githubbutton from "../githubbutton/githubbutton.astro";
import Project from "./Project.astro";
import ProjectButton from "./ProjectButton/ProjectButton.astro";
---

<style>
    section > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        list-style-type: none;
        padding: 0;
    }

    section > ul > li {
        width: 40%;
        gap: 8px;
        margin: 16px;
    }

    p,
    span,
    li {
        color: var(--light-gray);
    }

    p,
    ul {
        margin: 0 1em;
    }

    @media screen and (max-width: 1000px) {
        section > ul > li {
            width: 90%;
        }
    }

    ul {
        list-style-type: none;
    }

    .project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .project-end {
        display: flex;
        flex-direction: row;
        gap: 8px;
        padding-bottom: 8px;
    }

    .project-end {
        margin-top: auto;
        padding: 0;
        padding-bottom: 1em;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 1.5em;
    }

    .project-end > li {
        width: 180px;
    }

    /* Background */
    section > ul > li {
        --stc-border-length: 48px;
        --stc-border-width: 4px;
        --stc-border-color: var(--accent-secondary-06);
        background:
            linear-gradient(
                    var(--stc-border-color) var(--stc-border-length),
                    transparent 0 calc(100% - var(--stc-border-length)),
                    var(--stc-border-color) 0
                )
                0 0 / var(--stc-border-width) 100%,
            linear-gradient(
                    var(--stc-border-color) var(--stc-border-length),
                    transparent 0 calc(100% - var(--stc-border-length)),
                    var(--stc-border-color) 0
                )
                100% 0 / var(--stc-border-width) 100%,
            linear-gradient(
                    to right,
                    var(--stc-border-color) var(--stc-border-length),
                    transparent 0 calc(100% - var(--stc-border-length)),
                    var(--stc-border-color) 0
                )
                0 0 / 100% var(--stc-border-width),
            linear-gradient(
                    to right,
                    var(--stc-border-color) var(--stc-border-length),
                    transparent 0 calc(100% - var(--stc-border-length)),
                    var(--stc-border-color) 0
                )
                0 100% / 100% var(--stc-border-width);
        background-repeat: no-repeat;
    }
</style>

<section id="projects-list">
    <h2>Projects I've worked on</h2>
    <hr />
    <ul>
        <li>
            <Project class:list={["project"]} title="My Website">
                <p>
                    My personal website (this one). Created with <a
                        href="astro.dev">Astro</a
                    > and Typescript. Hosted with NixOS.
                </p>
                <ul slot="end" class="project-end">
                    <li>
                        <ProjectButton
                            destinationUrl="https://github.com/colmmurphyxyz/colmmurphy-xyz"
                            label="Source Code"
                        />
                    </li>
                </ul>
            </Project>
        </li>
        <li>
            <Project title="Pseudo-Code Compiler">
                <p>
                    My Final-Year Project was to develop a runtime environment
                    for pseudocode, as defined in
                    <a
                        href="https://mitpress.mit.edu/9780262046305/introduction-to-algorithms/"
                        >Introduction To Algorithms</a
                    > by <em
                        >Thomas H. Cormen, Charles E. Leiserson, Ronald L.
                        Rivest</em
                    > and
                    <i>Clifford Stein</i>.
                </p>
                <ul slot="end" class="project-end">
                    <li>
                        <ProjectButton
                            destinationUrl="https://github.com/colmmurphyxyz/pseudo-code-compiler"
                            label="Source Code"
                        />
                    </li>
                    <li>
                        <ProjectButton
                            destinationUrl="/report_colm_murphy.pdf"
                            label="Project Report"
                        />
                    </li>
                </ul>
            </Project>
        </li>
        <li>
            <Project title="Sands of Orisis">
                <p>
                    A top-down real-time strategy game developed in Godot 4 for
                    a university group project. Developed in eight weeks by a
                    team of 4 students. Featuring real-time networked
                    multiplayer.
                </p>
                <ul slot="end" class="project-end">
                    <li>
                        <ProjectButton
                            destinationUrl="https://github.com/colmmurphyxyz/CS3305-2024-Team-2"
                            label="Source Code"
                        />
                    </li>
                    <li>
                        <ProjectButton
                            destinationUrl="https://github.com/benshorten72"
                            label="Ben Shorten"
                        />
                    </li>
                    <li>
                        <ProjectButton
                            destinationUrl="https://github.com/Szazlo"
                            label="David Wilson"
                        />
                    </li>
                    <li>
                        <ProjectButton
                            destinationUrl="https://github.com/Durph21"
                            label="Darragh Murphy"
                        />
                    </li>
                </ul>
            </Project>
        </li>
        <li>
            <Project title="Klaasssify">
                <p>
                    JavaFX desktop Application to visualise your music taste in
                    a novel format.
                </p>
                <p>
                    Integrates with the Spotify API to aggregate your listening
                    history and retrieve your favourite artists. Represents your
                    favourite artists as vertices of a graph, with edges
                    connecting similar artists. Implements force simulation
                    algorithms to optimally render a graph to the user.
                </p>
                <ul slot="end" class="project-end">
                    <li>
                        <ProjectButton destinationUrl="https://github.com/benshorten72/cs3500-team36-server" label="Server" />
                    </li>
                    <li>
                        <ProjectButton destinationUrl="https://github.com/colmmurphyxyz/cs3500-team36-client" label="Client" />
                    </li>
                </ul>
            </Project>
        </li>
    </ul>
</section>
