---
export interface Props {
    imageUrl?: string,
    imageAlt?: string,
    title: string,
}

const { imageUrl, imageAlt, title } = Astro.props
---
<style>
    div {
        padding: 8px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h3 {
        text-align: center;
        color: var(--light-text-color);
    }

    hr {
        width: 90%;
    }
</style>

<div>
    <h3>{title}</h3>
    <hr>
    <slot class="project-body" />
    <slot name="end" />
</div>