---
import Project from "./Project.astro";
---

<style>
    #projectsList {
        padding: 0 1.5em;
    }

    #projectsList > ul {
        list-style: none;
        padding-left: unset;
    }

    .project {
        display: grid;
        grid-template-areas:
            "gridImage gridTitle"
            "gridImage gridDescription"
            "gridImage gridPoints"
            "gridImage gridActions";
        min-width: 100%;
    }

    .columnsInverted {
        grid-template-areas:
            "gridTitle       gridImage "
            "gridDescription gridImage "
            "gridPoints      gridImage "
            "gridActions     gridImage ";
    }

    @media only screen and (max-width: 1000px) {
        .project {
            grid-template-areas:
                "gridTitle"
                "gridImage"
                "gridDescription"
                "gridPoints"
                "gridActions";
        }

        .columnsInverted {
            grid-template-areas:
                "gridTitle"
                "gridImage"
                "gridDescription"
                "gridPoints"
                "gridActions";
        }
    }

    .project > img {
        grid-area: gridImage;
        max-width: 600px;
        max-height: 450px;
        object-fit: cover;
        border-radius: 12px;
        overflow: auto;
    }

    .project > h3 {
        grid-area: gridTitle;
        text-align: center;
        color: var(--light-text-color);
        font-size: 2rem;
    }

    .project > p {
        grid-area: gridDescription;
        padding: 1em;
        color: var(--light-gray);
    }

    .projectDescription {
        grid-area: gridPoints;
        color: var(--dark-text-color);
    }

    .projectDescription > li {
        padding: 0.5em 0;
        color: var(--light-gray);
    }

    .projectActions {
        grid-area: gridActions;
        list-style-type: none;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .columnsInverted .projectActions {
        justify-content: flex-start;
    }

    .projectActions > * {
        padding: 0.5em;
    }

    @media only screen and (max-width: 600px) {
        .projectActions > * {
            width: 100%;
        }

        .project > img {
            max-width: 400px;
            max-height: 300px;
        }
    }
</style>

<div id="projectsList">
    <ul>
        <Project
            title="Pseudo-Code Compiler"
            imageUrl="/img/pcc_example_2.png"
            actions={[
                {
                    imageUrl: "/img/github.svg",
                    title: "Source Code",
                    destinationUrl:
                        "https://github.com/colmmurphyxyz/pseudo-code-compiler",
                },
                {
                    imageUrl: "/img/icons/docs.svg",
                    title: "Project Report",
                    destinationUrl: "/report_colm_murphy.pdf",
                },
            ]}
            invertColumns={true}
        >
        <p>
            My FInal-Year Project was to develop a runtime environment for
            pseudocode, as defined in
            <a
                href="https://mitpress.mit.edu/9780262046305/introduction-to-algorithms/"
                >Introduction To Algorithms</a
            > by <em
                >Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest</em
            > and
            <i>Clifford Stein</i>.
        </p>
        <ul>
            <li>
                Tokenises, parses, transpiles pseudocode to executable Python
                code.
            </li>
            <li>
                Provides a graphical interface to support interactive execution
                of pseudocode.
            </li>
            <li>
                Accompanied by a standard library of common data structures.
            </li>
        </ul>
        </Project>

        <Project
            title="Sands of Orisis"
            imageUrl="/img/sandsoforisis.png"
            actions={[
                {
                    imageUrl: "/img/github.svg",
                    title: "Source Code",
                    destinationUrl:
                        "https://github.com/colmmurphyxyz/CS3305-2024-Team-2",
                },
                {
                    imageUrl: "/img/github.svg",
                    title: "Ben Shorten",
                    destinationUrl: "https://github.com/benshorten72",
                },
                {
                    imageUrl: "/img/github.svg",
                    title: "David Wilson",
                    destinationUrl: "https://github.com/Szazlo",
                },
                {
                    imageUrl: "/img/github.svg",
                    title: "Darragh Murphy",
                    destinationUrl: "https://github.com/benshorten72",
                },
            ]}
            invertColumns={false}
        >
            <p>
                A top-down real-time strategy game developed in Godot 4 for a
                university group project.
            </p>
            <ul>
                <li>Developed in eight weeks by a team of four students.</li>
                <li>Real-time peer-to-peer networked multiplayer.</li>
                <li>Cross-compatible with Windows, Linux and macOS systems</li>
            </ul>
        </Project>

        <Project
            title="colmmurphy.xyz"
            imageUrl="/img/astro.png"
            actions={[]}
            invertColumns={true}
        >
            <p>
                My personal website (this one). Developed using AstroJS, Spring
                Boot and Kotlin
            </p>
        </Project>

        <Project
            title="Klaassify"
            imageUrl="/img/klaassify_screenshot.png"
            actions={[
                {
                    imageUrl: "/img/github.svg",
                    title: "Server",
                    destinationUrl:
                        "https://github.com/benshorten72/cs3500-team36-server",
                },
                {
                    imageUrl: "/img/github.svg",
                    title: "Client",
                    destinationUrl:
                        "https://github.com/colmmurphyxyz/cs3500-team36-client",
                },
            ]}
            invertColumns={false}
        >
            <p>
                JavaFX desktop application to visualise your music taste in a
                novel format. Your listening habits are represented as a graph
                of artists, with edges connecting similar artists.
            </p>
            <ul>
                <li>
                    Integrates with Spotify's API to aggregate your listening
                    history.
                </li>
                <li>
                    Uses an ExpressJS server to communicate with Spotify without
                    leaking API credentials.
                </li>
                <li>
                    Implements force simulation algorithms to optimally render a
                    graph to the user.
                </li>
            </ul>
        </Project>
    </ul>
</div>
