---
import CmButton from "../cmbutton/cmbutton.astro";
export interface Props {
    icon: string;
    iconAlt: string;
    title: string;
    url: string;
}

const { icon, iconAlt, title, url } = Astro.props;
---

<li class="quicklink">
    <CmButton url={url} borderLength="24px" hoverBorderLength="30px">
        <div>
            <img src={icon} alt={iconAlt} loading="eager" />
            <span>{title}</span>
        </div>
    </CmButton>
</li>

<style>
    .quicklink {
        width: 220px;
        height: 100px;
        margin: 10px;
        padding: 10px;
    }

    .quicklink div {
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .quicklink img {
        height: 45px;
        width: 45px;
        padding: 8px;
    }

    .quicklink span {
        font-size: 1.75em;
        padding-right: 1em;
        text-align: end;
        color: var(--light-text-color);

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>
