.quickLink {
    background-color: var(--light-background-color);
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.9);
    transition: all 0.11s ease-in-out;
    width: 250px;
    margin: 0.8em;
}

.quickLink:hover {
    transform: translateY(-8px);
}

.quickLink a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    color: var(--dark-text-color);
    padding: 0.5em;
}

.quickLink a * {
    margin: 0.5em;
}

.quickLink img {
    height: 45px;
    width: 45px;
    margin: 0 6px 0 2px;
    padding: 8px;
    border-radius: 8%;
}

.quickLink h3 {
    padding-right: 1em;
}
