---
import Layout from "../layouts/Layout.astro";
---

<style>
    h1 {
        color: var(--light-text-color);
        padding: 2em 0;
        text-align: center;
    }

    main {
        margin: 0 auto;
        padding-bottom: 50vh;
    }

    main p {
        text-align: center;
    }

    main a {
        display: block;
        text-decoration: none;
        font-weight: 500;
    }

</style>

<Layout>
    <h1>Not Found</h1>
    <main>
        <p>
            <a href="/">Return home</a> 
        </p>
    </main>
</Layout>