---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.astro'
import QuickLinksList from '../components/QuickLinks/QuickLinksList.astro';
import ProjectsList from '../components/Projects/ProjectsList.astro';
import Footer from '../components/Footer/Footer.astro';
import { SpotifyHistory } from '../components/SpotifyHistory/SpotifyHistory';
---

<Layout>
	<Header />
	<QuickLinksList />
	<hr />
	<!-- <SpotifyHistory client:visible /> -->
	 <SpotifyHistory client:load />
	<hr />
	<h2>Projects I've worked on</h2>
	<hr />
	<ProjectsList />
	<Footer />
</Layout>

<style>
	h2 {
		color: var(--light-text-color);
		text-align: center;
		font-size: 1.8rem;
		margin: 0 1rem;
	}
</style>


