---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.astro'
import QuickLinksList from '../components/QuickLinks/QuickLinksList.astro';
import { ProjectsList } from '../components/Projects/ProjectsList';
---

<Layout>
	<Header />
	<QuickLinksList />
	<h1>Projects I've worked on</h1>
	<hr />
	<ProjectsList />
</Layout>
