---
import Cmbutton from "../../cmbutton/cmbutton.astro";

export interface Props {
    label: string;
    destinationUrl: string;
}

const { label, destinationUrl } = Astro.props;
---

<style>
    span {
        display: block;
        font-size: 1.5em;
        color: var(--light-text-color);
        padding: 8px 0;
    }
</style>

<Cmbutton
    url={destinationUrl}
    borderWidth="2px"
    borderLength="8px"
    ,
    hoverBorderWidth="3px"
    hoverBorderLength="12px"
>
    <span>{label}</span>
</Cmbutton>
