---
import { Image } from "astro:assets";
import headshot from './headshot.png'
---

<header>
    <h1>
        <strong>Colm Murphy</strong>
    </h1>
    <p>
        BSc Computer Science Student @ UCC <br />
        Software Development Engineer @ Pilz Ireland
    </p>
    <!-- <div id="cont"> -->
        <!-- <div></div> -->
        <Image src={headshot} alt="My headshot" />
    <!-- </div> -->
    <!-- <img id="headshot" src="headshot.png" alt="My headshot" /> -->
</header>

<style>
    header {
        matgin: 0 auto;
        padding: 0 2 rem;
        display: grid;
        grid-template-areas:
            "heading headshot"
            "subheading headshot";
    }

    @media only screen and (max-width: 900px) {
        header {
            grid-template-areas: 
                "heading"
                "subheading"
                "headshot";
        }
    }

    header > h1 {
        grid-area: heading;
        min-width: 50%;
        font-size: 3rem;
    }

    header > p {
        font-size: 1.25rem;
    }

    h1, p {
        color: var(--light-text-color);
    }

    header > p > br {
        padding-top: 16px;
    }

    header > img {
        grid-area: headshot;
        border-radius: 50%;
        width: min(20rem, 100%);
        height: min(20rem, 100%);
        margin: 0 auto;
        object-fit: scale-down;
    }
</style>