---
import { Image } from "astro:assets";
import headshot from '../../../public/img/headshot.png';
---

<header>
    <h1>
        <strong>Colm Murphy</strong>
    </h1>
    <p>
        <strong>Pilz Ireland</strong> - Graduate Software Development Engineer <br />
        <strong>UCC</strong> - BSc Computer Science
    </p>
    <Image src={headshot} alt="My headshot" loading="eager" fetchpriority="high"/>
</header>

<style>
    header {
        margin: 0 auto;
        padding: 1rem 2rem;
        display: grid;
        grid-template-areas:
            "heading headshot"
            "subheading headshot";
    }

    @media only screen and (max-width: 900px) {
        header {
            grid-template-areas: 
                "heading"
                "subheading"
                "headshot";
        }
    }

    header > h1 {
        grid-area: heading;
        min-width: 50%;
        font-size: 3rem;
        margin-left: 2rem;
    }

    header > p {
        font-size: 1.25rem;
        margin-left: 2rem;
    }

    header h1, header p {
        color: var(--light-text-color);
    }

    header > p > br {
        padding-top: 16px;
    }

    header > img {
        grid-area: headshot;
        border-radius: 50%;
        width: min(20rem, 100%);
        height: min(20rem, 100%);
        margin: 0 auto;
        object-fit: scale-down;
    }

    @media only screen and (max-width: 900px) {
        header > h1, header > p {
            margin-left: 0px;
        }
    }
</style>