<style>
    footer {
        padding: 1em;
    }
    footer > p {
        text-align: center;
        font-size: 0.8em;
        color: var(--light-gray);
    }
</style>

<footer>
    <p>Copyright &copy; 2026 Colm Murphy</p>
</footer>