<style>
  footer {
    padding: 1em;
  }
  footer > p {
    text-align: center;
    font-size: 0.8em;
    color: var(--light-gray);
  }
</style>

<footer>
  <p>Copyright &copy; 2026 Colm Murphy</p>

  <script>
    import { postVisit } from "../../api/api";
    const { default: FingerprintJS } =
      await import("@fingerprintjs/fingerprintjs");

    function logPageVisit() {
      const url = window.location.toString();
      FingerprintJS.load()
        .then((agent) => agent.get())
        .then((it) => {
          postVisit({ url, fingerprint: it.visitorId });
        });
    }

    requestIdleCallback(logPageVisit);
  </script>
</footer>
