---
import Footer from "../components/Footer/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<meta name="theme-color" content="#000000" />
		<meta
			name="description"
			content="Colm Murphy | Computer Science Student @ University College Cork | Software Engineer"
		/>
		<meta
			name="keywords"
			content="colm murphy, software, computer science"
		/>

		<meta property="og:title" content="Colm Murphy" />
		<meta
			property="og:description"
			content="Colm Murphy | Computer Science Student @ University College Cork | Software Engineer"
		/>
		<meta property="og:image" content="/img/headshot.png" />
		<meta property="og:image:width" content="916" />
		<meta property="og:image:height" content="829" />
		<meta property="og:url" content="https://colmmurphy.xyz" />
		<meta property="og:locale" content="en_IE" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Colm Murphy" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:image" content="/img/headshot.png" />

		<title>Colm Murphy</title>
	</head>
	<body>
		<div class="bg"></div>
		<div class="content">
			<slot />
			<Footer />
		</div>
	</body>
</html>

<style>
	:root {
		font-size: 1.25rem;
		--light-background-color: #f8f9fa;
		--light-text-color: #e0e0e0;
		--dark-background-color: #292728;
		--dark-text-color: #d6ceab;
		--light-gray: #adadad;
		--placeholder-background-color: #343432;

		--accent-primary-12: #371606;
		--accent-primary-11: #491d08;
		--accent-primary-10: #5c240a;
		--accent-primary-09: #6e2b0c;
		--accent-primary-08: #81320e;
		--accent-primary-07: #933a10;
		--accent-primary-06: #9c3d11;
		--accent-primary-05: #b84814;
		--accent-primary-04: #dc5618;
		--accent-primary-03: #e76123;
		--accent-primary-02: #e96e35;
		--accent-primary-01: #eb7b47;

		--accent-secondary-01: #76aa4b;
		--accent-secondary-02: #6c9c44;
		--accent-secondary-03: #628e3e;
		--accent-secondary-04: #598038;
		--accent-secondary-05: #4f7132;
		--accent-secondary-06: #435f2a;
		--accent-secondary-07: #3c5525;
		--accent-secondary-08: #32471f;
		--accent-secondary-09: #283919;
		--accent-secondary-10: #1e2b13;
		--accent-secondary-11: #141c0c;
		--accent-secondary-12: #0a0e06;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;

		font-family: "Work Sans", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
	}

	code {
		font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
			monospace;
	}

	.bg {
		z-index: -1;
		width: 100vw;
		height: 100vh;
		position: fixed;
		background: url("/img/binary-repeat.png");
		filter: invert(1) brightness(0.4);
		transform: scale(1.3, 1.3);
		animation: swipe 120s linear infinite;
	}

	.content {
		max-width: min(95%, 100rem);
		margin: 0 auto;
		background-color: var(--dark-background-color);
	}

	@keyframes swipe {
		0% {
			background-position: 0% 50%;
		}

		50% {
			background-position: 100% 50%;
		}

		100% {
			background-position: 0% 50%;
		}
	}
</style>

<style is:global>
	a {
		color: var(--accent-primary-04);
		font-weight: 500;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	a:visited {
		color: var(--accent-primary-08);
	}
</style>
