---
import GenericSpotifyTrackCard from "./GenericSpotifyTrackCard.astro";
---

<style>
    ul#spotifyHistory {
        width: calc(100% - 16px);
        margin: 0 auto;

        list-style: none;
        display: flex;
        flex-direction: row;
        overflow: auto;
        white-space: nowrap;

        padding-left: unset;
    }

    /* Custom scrollbar */
    /* Not supported on firefox, but the default scrollbar looks fine as-is */
    ul::-webkit-scrollbar {
        height: 6px;
    }

    ul::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: #777;
    }

    ul::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    ul::-webkit-scrollbar-track {
        background-color: var(--dark-background-color);
    }

    .scroll-wrapper {
        position: relative;
        overflow: hidden;
    }

    #spotifyHistory > li {
        margin: 0 8px;
    }

    .fade {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
        pointer-events: none; /* let mouse clicks pass through */
        z-index: 10;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .fade-left {
        left: 0;
        background: linear-gradient(to right, #000, transparent);
    }

    .fade-right {
        right: 0;
        background: linear-gradient(to left, #000, transparent);
    }

</style>

<h2>What I've been listening to</h2>
<ul id="spotifyHistory">
    {
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0].map(_ => (
            <li>
                <GenericSpotifyTrackCard/>
            </li>
        ))
    }
</ul>