h2 {
    color: var(--light-text-color);
    text-align: center;
    font-size: 1.8rem;
}
ul {
    /* Give some buffer space at either side */
    width: calc(100% - 16px);
    margin: 0 auto;

    list-style-type: none;
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;

    padding-left: unset;
}

.horizontalScroll {
    scroll-behavior: smooth;
    user-select: none;
    cursor: grab;
    -webkit-overflow-scrolling: touch;
}

.horizontalScroll.dragging {
    cursor: grabbing;
}

.spotifyTrackCard {
    position: relative;
    width: 250px;
    margin: 0.5em;
    padding-top: 0.9em;
    border-radius: 8px;
    background-color: var(--light-background-color);

    display: flex;
    flex-direction: column;
}

.spotifyTrackCard > img {
    margin: 0 auto;
    border-radius: 8px; 
}

.spotifyTrackCard > div > h3, .spotifyTrackCard > div > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: 0 1ch;
}

.spotifyTrackCard > p {
    position: absolute;
    top: -4px;
    right: 6px;
    color: var(--light-gray);
    font-size: 0.8em;
}