#spotifyHistoryList {
    list-style-type: none;
    overflow: scroll;
    display: flex;
    flex-direction: row;
}

#spotifyHistoryList {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#spotifyHistoryList::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.spotifyTrackCard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 250px;   
    margin: 0 1em;
    background-color: var(--light-background-color);
    border-radius: 8px;
}

.spotifyTrackCard > div {
    overflow-x: hidden;
}

.spotifyTrackCard img {
    margin: auto 0.5em;
}

.trackName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.artistName {
    font-size: 0.75em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
